<!DOCTYPE html>
<html lang="ca">
<meta charset="UTF-8">
<title>Rest simple demo</title>
<meta name="viewport" content="width=device-width,initial-scale=1">
<body>
	<div class="content">
		<h1>REST Simple demo</h1>
		<p>Trieu:</p>
		<ul>
			<li><a href="/logbok">GET /logbook</a> per a obtenir tots els registres</li>
			<li><a href="/logbok">GET /logbook/{TS}</a> amb <code>TS</code> en format <a href="https://en.wikipedia.org/wiki/ISO_8601">ISO-8601</a> per a obtenir el registre d'aquest timestamp</li>
		</ul>
	</div>

</body>

</html>